## Sunspots
The number of sunspots (darker regions on the surface of the sun that are colder than the surrounding area) varies over time with a roughly 11-year solar cycle.

#### Import Data
The file *sunspot_data.csv* contains data going back to 1818. For days without a reported number, the column *Number of Sunspots* contains the value -1.

Make yourself familiar with the structure of the dataframe find the number of sunspots on your birthday and the maximum number of sunspots in the dataset.

In [ ]:
import polars as pl

path = 'data/sunspot_data.csv'

df = pl.read_csv(path)

#### Solar Cycle
To verify the solar cycle, make a diagram showing the average number of sunspots per month. Ignore days with no observation.

#### Method 1
Create a column 'Year/Month' combining the year and month. You have to format single digit months with a leading zero. Create the graph.

As can be seen, there are 18 maxima between 1825 and 2025, which corresponds to a cycle of about 11 years.

#### Method 2
Use a built-in method pl.date to convert the date to a date dtype. Use the method group_by_dynamic to downsample the data to monthly intervals.

Method 2 has the advantage, that the interval can easily be adjusted, e.g. to 3 months.